@{
    Layout = null;
    int index = (int)ViewBag.Index;
}
@if(index > 0 && index < 3)
{
    <div class="item-edit item flex flex-lg-nowrap gap10 mb-2 w-100 attributes-list">
        <label class="label">Phân loại hàng @index</label>
        <div class="wrap_input pb-4">
            <span class="delete">
                <i class="icofont-close"></i>
            </span>
            <div class="row">
                <div class="col-md-6">
                    <div class="box-list">
                        <h6>
                            <b style="display:none;"></b>
                            <nw class="change-attribute-name wrap_input" style="font-size:16px!important;">
                                <input type="text" class="attr-name" value="" />
                                <a href="javascript:;" class="text-base confirm-edit" style="font-size: 18px">
                                    <i class="icofont-checked"></i>
                                </a>
                                <a href="javascript:;" class="cancel-edit" style="font-size: 18px;">
                                    <i class="icofont-close-squared-alt "></i>
                                </a>
                            </nw>
                            <a href="javascript:;" class="open-edit"><i class="icofont-ui-edit"></i></a>

                        </h6>

                    </div>
                </div>
            </div>
            <div class="line-bottom"></div>
            <div class="row row-attributes-value ui-sortable">
                <div class="col-md-6 lastest-attribute-value item ui-sortable-handle attributes-detail" draggable="true">
                    <div class="box-list">
                        <div class="form-group namesp flex-input-choose">
                            <label class="choose choose-wrap">
                                <input type="file" name="myFile">
                                <div class="choose-content">
                                    <i class="icofont-image"></i>
                                </div>
                            </label>
                            <div class="relative w-100">
                                <input type="text" class="form-control" placeholder="" value="">
                                <span class="note"><nw class="count">0</nw>/14</span>
                            </div>
                            <div class="right-action">
                                <a class="icon-action delete-attribute-detail" href="javascript:;"><i class="icofont-trash"></i></a>
                                <a class="icon-action attribute-item-draggable" href="javascript:;"><i class="icofont-drag"></i></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

