@{
    Layout = null;
}
<div class="flex-head">
    <h2 class="title_cate" id="revenu7Days">Biểu đồ thống kê doanh thu theo thời gian</h2>
    <div class="btn-right text-right" hidden>
        <a class="export btn" href="">
            <i class="fa fa-file-excel-o"></i>Xuất excel
        </a>
    </div>
</div>
<div class="tab-default cur-pointer">
    <button onclick="_dashBoard.GetChartRevenuByTime(1)" class="btn btn-primary btn_change_chart">7 ngày gần nhất</button>
    <button onclick="_dashBoard.GetChartRevenuByTime(2)" class="btn ml10 btn_change_chart">Xem theo tháng</button>
</div>
<div class="row">
    <div class="col-xl-12 text-center">
    </div>
    <div class="col-xl-12">
        <canvas id="revenuChart" class="chartjs-render-monitor" height="80vh"></canvas>
    </div>
</div>
