<ul class="list-notifi">
    <li>
        <i class="fa fa-file-o"></i>
        <a href=""><span class="blue">halan</span> thanh toán đơn UAM-0B29293 qua Payoo</a>
        <div class="date">1 ngày trước - ngày thanh toán: 30/03/2020 10h 56 phút</div>
    </li>
    <li>
        <i class="fa fa-check"></i>
        <a href=""><span class="blue">halan</span> thanh toán đơn UAM-0B29293 qua Payoo</a>
        <div class="date">1 ngày trước - ngày thanh toán: 30/03/2020 10h 56 phút</div>
    </li>
    <li>
        <i class="fa fa-check"></i>
        <a href=""><span class="blue">halan</span> thanh toán đơn UAM-0B29293 qua Payoo</a>
        <div class="date">1 ngày trước - ngày thanh toán: 30/03/2020 10h 56 phút</div>
    </li>
    <li>
        <i class="fa fa-check"></i>
        <a href=""><span class="blue">halan</span> thanh toán đơn UAM-0B29293 qua Payoo</a>
        <div class="date">1 ngày trước - ngày thanh toán: 30/03/2020 10h 56 phút</div>
    </li>
    <li>
        <i class="fa fa-check"></i>
        <a href=""><span class="blue">halan</span> thanh toán đơn UAM-0B29293 qua Payoo</a>
        <div class="date">1 ngày trước - ngày thanh toán: 30/03/2020 10h 56 phút</div>
    </li>
</ul>