
<h3 class="txt_14 line-bottom">Box thông báo 2</h3>
<ul id="recent_notifi_box" class="list-notifi">
    <li class="flex" style="justify-content:center;">
        <img src="/images/icons/loading.gif" style=" width: 20px; height: 20px;" />
    </li>
</ul>
<div class="center">
    <a id="recent_act_lm" class="load-more" href="javascript:;" onclick="menu.LoadMoreRecentActivity();">
        <i class="fa fa-arrow-circle-o-down"></i>&nbsp;Xem thêm
    </a>
</div>