<div class="scroll-wrapper list-notifi scrollbar-inner" style="position: relative;">
    <ul id="success_order_list" class="list-notifi scrollbar-inner scroll-content scroll-scrolly_visible" style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 42px;">
        <li>
            <img class="icon" src="images/icons/amazon.svg">
            <a href="">Đơn <strong class="color-main">UAM-0B29293</strong> đã được mua thành công</a>
            <div class="date">1 ngày trước - ngày thanh toán: 30/03/2020 10h 56 phút</div>
        </li>
        <li>
            <img class="icon" src="images/icons/amazon.svg">
            <a href="">Đơn <strong class="color-main">UAM-0B29293</strong> đã được mua thành công</a>
            <div class="date">1 ngày trước - ngày thanh toán: 30/03/2020 10h 56 phút</div>
        </li>
        <li>
            <img class="icon" src="images/icons/amazon.svg">
            <a href="">Đơn <strong class="color-main">UAM-0B29293</strong> đã được mua thành công</a>
            <div class="date">1 ngày trước - ngày thanh toán: 30/03/2020 10h 56 phút</div>
        </li>
        <li>
            <img class="icon" src="images/icons/amazon.svg">
            <a href="">Đơn <strong class="color-main">UAM-0B29293</strong> đã được mua thành công</a>
            <div class="date">1 ngày trước - ngày thanh toán: 30/03/2020 10h 56 phút</div>
        </li>
        <li>
            <img class="icon" src="images/icons/amazon.svg">
            <a href="">Đơn <strong class="color-main">UAM-0B29293</strong> đã được mua thành công</a>
            <div class="date">1 ngày trước - ngày thanh toán: 30/03/2020 10h 56 phút</div>
        </li>
        <li>
            <img class="icon" src="images/icons/amazon.svg">
            <a href="">Đơn <strong class="color-main">UAM-0B29293</strong> đã được mua thành công</a>
            <div class="date">1 ngày trước - ngày thanh toán: 30/03/2020 10h 56 phút</div>
        </li>
        <li>
            <img class="icon" src="images/icons/amazon.svg">
            <a href="">Đơn <strong class="color-main">UAM-0B29293</strong> đã được mua thành công</a>
            <div class="date">1 ngày trước - ngày thanh toán: 30/03/2020 10h 56 phút</div>
        </li>
        <li>
            <img class="icon" src="images/icons/amazon.svg">
            <a href="">Đơn <strong class="color-main">UAM-0B29293</strong> đã được mua thành công</a>
            <div class="date">1 ngày trước - ngày thanh toán: 30/03/2020 10h 56 phút</div>
        </li>
        <li>
            <img class="icon" src="images/icons/amazon.svg">
            <a href="">Đơn <strong class="color-main">UAM-0B29293</strong> đã được mua thành công</a>
            <div class="date">1 ngày trước - ngày thanh toán: 30/03/2020 10h 56 phút</div>
        </li>
        <li>
            <img class="icon" src="images/icons/amazon.svg">
            <a href="">Đơn <strong class="color-main">UAM-0B29293</strong> đã được mua thành công</a>
            <div class="date">1 ngày trước - ngày thanh toán: 30/03/2020 10h 56 phút</div>
        </li>
        <li>
            <img class="icon" src="images/icons/amazon.svg">
            <a href="">Đơn <strong class="color-main">UAM-0B29293</strong> đã được mua thành công</a>
            <div class="date">1 ngày trước - ngày thanh toán: 30/03/2020 10h 56 phút</div>
        </li>

    </ul>
    <div class="scroll-element scroll-x scroll-scrolly_visible">
        <div class="scroll-element_outer">
            <div class="scroll-element_size"></div>
            <div class="scroll-element_track"></div>
            <div class="scroll-bar" style="width: 88px;"></div>
        </div>
    </div>
    <div class="scroll-element scroll-y scroll-scrolly_visible">
        <div class="scroll-element_outer">
            <div class="scroll-element_size"></div>
            <div class="scroll-element_track"></div>
            <div class="scroll-bar" style="height: 2px; top: 21.8781px;"></div>
        </div>
    </div>
</div>
<div class="center mt10">
    <a class="load-more" href="">
        <i class="fa fa-arrow-circle-o-down"></i>&nbsp;Xem thêm
    </a>
</div>