<!DOCTYPE html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=yes">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title> @ViewData["Title"] </title>
    <link type="image/x-icon" href="~/images/graphics/logo_adavigo.jpg" rel="shortcut icon" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <link href="~/css/style.css?v=2" media="all" rel="stylesheet" />
    <link href="~/css/cms-style.css?v=1" rel="stylesheet" />
</head>

<body class="homepage">

    <section class="main-container">
        @RenderBody()
    </section>
</body>
</html>